.nav-bar {
  display: flex;
  height: 50px;
  padding: 0 12px;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(51, 10, 103, 0.93);
  #search-icon {
    width: 1em;
    fill: #fff;
    margin-right: 4px;
  }
  .logo {
    margin-right: 12px;
    width: 110px;
    height: 100%;
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    height: 100%;
    li {
      height: 100%;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      a {
        padding: 12px;
        height: 100%;
        &:hover {
          background-color: #102c48;
        }
      }
      .selected {
        background-color: #102c48;
      }
    }
  }
  .colection {
    height: 100%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 12px;
    p {
      height: 100%;
      line-height: 50px;
    }
    .login {
      background-color: #cf2122;
      color: #fff;
      padding: 0 12px;
      border-radius: 6px;
      height: 80%;
      transform: translateY(10%);
      display: flex;
      align-items: center;
      margin: auto 0;
      &:hover {
        background-color: #b31414;
      }
    }
  }
  .user {
    display: flex;
    img {
      margin-right: 4px;
      border-radius: 50%;
      transform: scale(0.8);
    }
    &:hover {
      .user__expand {
        display: block;
      }
    }
  }
  .user__expand {
    display: none;
    position: absolute;
    width: max-content;
    text-align: center;
    right: -12px;
    bottom: -150px;
    background-color: #363636;
    padding: 0 24px;
    border-radius: 0 0 4px 4px;
    border-top: 2px solid #fff;
    a {
      &:hover {
        color: rgb(206, 206, 28);
      }
    }
  }
}

.nav-bar-mobile,
.menu-btn {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .nav-bar {
    justify-content: space-between;
    align-items: center;
    .logo-wraper {
      display: flex;
      align-items: flex-start;
    }
    .menu {
      li {
        &:not(:first-child) {
          display: none;
        }
      }
    }
    .colection {
      display: none;
    }
  }

  .nav-bar-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -130px;
    width: 130px;
    height: 100%;
    z-index: 1000;
    color: #fff;
    background-color: #06121e;
    transition: all 0.3s ease;
    .back-drop {
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      position: fixed;
      align-items: center;
      justify-content: center;
    }
    .login {
      background-color: #fff;
      border-color: #dbdbdb;
      border-width: 1px;
      color: #363636;
      cursor: pointer;
      justify-content: center;
      padding: calc(0.5em - 1px) 1em;
      text-align: center;
      white-space: nowrap;
      background-color: #cf2122;
      border-color: transparent;
      color: #fff;
      margin: 1em 1em 0;
    }
    .sign-up {
      width: 100%;
      display: flex;
      position: relative;
      box-sizing: border-box;
      text-align: left;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      justify-content: flex-start;
      text-decoration: none;
      padding-left: 16px;
      padding-right: 16px;
    }
    hr {
      display: block;
      border: none;
      height: 1px;
      margin: 0;
      flex-shrink: 0;
      background-color: rgba(255, 255, 255, 0.12);
    }
    ul {
      padding-top: 8px;
      padding-bottom: 8px;
      li {
        width: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        justify-content: flex-start;
        text-decoration: none;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    &.active {
      left: 0;
      .back-drop {
        display: flex;
      }
    }
  }
  .menu-btn {
    display: block;
    background: transparent;
    border: none;
    margin-right: 12px;

    svg {
      width: 2rem;
      height: 2rem;
      fill: #fff;
    }
  }
}
