.nav-bar {
  display: flex;
  margin-top: 20px;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  .logo {
    margin-right: 12px;
    width: 110px;
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    li {
      color: white;
      margin: 0 12px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 400;
      .selected {
        border: 2px orange solid;
      }
    }
  }
}
