.nav-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  .logo {
    margin-right: 12px;
    width: 110px;
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    li {
      color: white;
      margin: 0 12px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
