.colection-section {
  margin-top: 50px;
  padding: 48px 12px;
  h1,
  h2 {
    color: #fff;
    margin-bottom: 1.5rem;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
