.title-list {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .poster-item {
      max-width: 24%;
      flex: 0 0 24%;
      justify-content: center;
      cursor: pointer;
      img {
        width: 100%;
      }
      .poster-name {
        height: 30px;
        color: #ccc;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .title-list {
    ul {
      .poster-item {
        max-width: 48%;
        flex: 0 0 48%;
      }
    }
  }
}
