.faq-section {
  margin-top: 50px;
  padding: 3rem 0.8rem;
  .faq-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
    text-align: center;
    color: #fff;
  }
  h3 {
    color: #ffdd57;
    font-size: 1.5em;
    margin-top: 1.3333em;
    margin-bottom: 0.6666em;
    font-weight: 600;
    line-height: 1.125;
  }
  .content {
    color: #dbdbdb;
    a {
      color: #428bca;
      cursor: pointer;
      text-decoration: none;
      display: inline;
    }
    ul {
      list-style: disc outside;
      margin-left: 2em;
      margin-top: 1em;
    }
  }
}
