.cast-setion {
  margin-top: 50px;
  padding: 48px 0;
}
.cast-details {
  display: flex;
  .column {
    display: block;
    padding: 0.75rem;
  }
  .column.small {
    flex: none;
    width: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
    img {
      height: auto;
      max-width: 100%;
      margin-bottom: 2em;
    }
    h3 {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.125;
      margin-bottom: 1.5rem;
    }
    dt {
      font-weight: 700;
      color: #dbdbdb;
    }
    dd {
      margin-bottom: 1.2em;
      color: #b5b5b5;
    }
  }
  .column.main {
    padding-left: 2rem;
    padding-right: 2rem;
    h1 {
      color: #fff;
      font-weight: 600;
      line-height: 1.125;
      margin-bottom: 1.5rem;
      font-size: 2.5rem;
    }
    h3 {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.125;
      margin-bottom: 1.5rem;
    }
    .bio {
      color: #b5b5b5 !important;
      margin-bottom: 2em;
      line-height: 26px;
    }
    .poster-item {
      padding: 8px;
    }
    .poster-name {
      height: 30px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    .cast-image-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .cast-img {
      display: inline-block;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .cast-details {
    flex-direction: column;
    margin: 0 -20px;
    .column.small {
      width: 100%;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    .cast-img {
      width: 47%;
      img {
        width: 100%;
      }
    }
  }
}
