.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  button {
    border: 1px #fff solid;
    background: transparent;
    color: #fff;
    padding: 7px;
    margin: 4px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }

  .goto-page {
    height: 40px;
    input {
      height: 100%;
      border-radius: 5px;
      outline: none;
      padding: 8px;
      font-size: 16px;
    }
    button {
      height: 100%;
      margin: 0;
      margin-left: 8px;
    }
  }
}
